.banner {

	width: 700px;
	height: 300px;
	margin: auto;
	margin-top: 10px;
	background-size: 100% 100%;
	animation: banner 10s infinite ;
}

@keyframes banner {

	0%, 30% {
		background-image: url(fotos/pizzaa.jpg);
		opacity: 1;
	}
	31%, 34% {
		opacity: 0.1;

	}

	35%, 65% {
		background-image: url(fotos/trozo.png);
		opacity: 1;

	}
	66%, 69% {
		opacity: 0.1;
	}
	70%, 100% {
		opacity: 1;
		background-image: url(fotos/pizzaa2.jpg);
	}
}